Django==6.0.5
djangorestframework==3.17.1
djangorestframework-simplejwt==5.5.1
django-cors-headers==4.9.0

cloudinary==1.44.2
django-cloudinary-storage==0.3.0

gunicorn==25.0.0
whitenoise==6.9.0s
psycopg2-binary==2.9.10

Pillow==12.2.0
requests==2.34.2
python-dotenv==1.2.2

asgiref==3.11.1
sqlparse==0.5.5
tzdata==2026.2
PyJWT==2.10.1 